<DOCTYPE html>


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
             </div>
    </head>

<div class="text-center center-div mt-5" id="dashboard">
    <div class="container w-25 border py-5 mt-5">
        <h3>Welcome to the Root Dashboard!</h3>
        <body>
                 
          
          <div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div id="LangTable"><a href="../app/controllers/auth.controller.js" id="aa"></a>
		</div>
		<div><span>Shift Editing Table </span><a href="/data">click here</a>
		</div>
        <div><span>Employee Schedule Table </span><a href="/schedule">click here</a>
		</div>
        <div><span>User Queue </span><a href="/userQueue">click here</a>
		</div>
        <div><span>Shift Maker </span><a href="/shiftmaker">click here</a>
		</div>
        <div><span>Week Shift </span><a href="/weekshift">click here</a>
		</div>
        </body>
    

       
        <a href="/controllers/auth.controller">Logout</a>

    </div>
</div>
