<DOCTYPE html>


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <div class="row">
            <div class="col-md-2">
               <div class="form-group">
                  <label for="dataPrimayID">Username</label>
                  <input type="text" class="form-control datepickerDefault" id="dataPrimayID" name="username" maxlength="250">
               </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                   <label for="dataFinalID">Date Final</label>
                   <input type="text" class="form-control datepickerDefault" id="dataFinalID" name="password" maxlength="250">
                </div>
             </div>
    </head>

<div class="text-center center-div mt-5" id="dashboard">
    <div class="container w-25 border py-5 mt-5">
        <h3>Welcome to Express Dashboard</h3>
        <body>
         
                <script>
                    const obj = require("/cap-capstone/app/controllers/auth.controller.js");
                    const data = results;
                
            <button class = 'btn btn-primary' onclick = '<%= data %>' >Populate Table</button>
            <table id="scheduleTable" class="table table-striped" cellspacing="0" cellpadding="0">
                <thead class="thead-light">
         
                    <tr>  
                        <th>Username</th>  
                        <th>Password</th>  
                    </tr>  
                </thead>  
                 <tbody>  
                    
                    <tr>
                        
                            <td><%= data.username[0] %></td>
                        </script>
                 </tr>
                   
                 </tbody>
            </table>   
            
            </div>
       
    </form>
        </body>
    

       
        <a href="/controllers/auth.controller">Logout</a>
    </div>
</div>
