<DOCTYPE html>


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>

<div class="text-center center-div mt-5" id="dashboard">
    <div class="container w-25 border py-5 mt-5">
        <h3>Welcome to Express Dashboard</h3>
        <body>
            <form action="/populatetable" method="get">
                <input class="button" type="submit" value="Populate Table">
            </form>
            <table class="table table-hover">
                <thead class="thead-light">
         
                    <tr>  
                        <th>Username</th>  
                        <th>Password</th>  
                    </tr>  
                </thead>  
                 <tbody>  
                    <%print.forEach(function (obj){%>
                    <tr>
                        <script type= 'text/javascript'>

                            <tr>  
                                <td><%= print.username[0] %></td>  
                                <td><%= print.password[0])} %> </td>
                            </script>
                 </tr>
                   
                 </tbody>
            </table>   
            </div>
        </script>
            
        </body>
    

       
        <a href="/controllers/auth.controller">Logout</a>
    </div>
</div>
</