<!DOCTYPE html>
<html>

<head>
	
</head>

<body>
<ul>
    <% testData.forEach(function(password, users) { %>
        <li>
            <%= testData.users %>
            <%= testData.password %>
        </li>
        <%});%>
</ul>
</body>

</html>