<!DOCTYPE html>
<html>
    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                
<head>
	
</head>

<body>
<ul>
   <script> 
        <li>
            <script>
             <%- user %>
      </script>
        </li>
        
        </script>
</ul>
</body>
            </div>
        </div>
        </div>
</html>