<!DOCTYPE html>
<html>
    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
                
<head>
	
</head>

<body>
  
    <table class="table">
        <thead>
          <tr>
           
            <th>Name</th>
           
            <th>Password </th>
          </tr>
        </thead>
        <tbody>
           
     <% for (let i = 0; i < =username%>.length; i++) {%>
  <% username.push({ %>
 <% Name: username[i].username, %>
 <% password: username[i].password %>
<% });} %>
          
          </tbody>
        </table>


</body>
            </div>
        </div>
        </div>
</html>