<!DOCTYPE html>
<html>

<head>
	
</head>

<body>
<ul>
   <script> <% data.forEach(function(data) { %>
        <li>
            <%= data %>
            <%= data %>
        </li>
        <%});%>
        </script>
</ul>
</body>

</html>