<!DOCTYPE html>
<html>
    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
                <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
                
<head>
	
</head>

<body>
  
    <table class="table">
        <thead>
          <tr>
           
            <th>Employee</th>
           
            <th>Job Title </th>
          </tr>
        </thead>
        <tbody>
           
            
            <% for (var i = 0; i < user.length; i++) { %>
            
                <tr>
                    <td><%= user[i].id %></td>
                    <td><%= user[i].user %> </td>
                    <td><%= user[i].job_title %> </td>
                </tr>
            <%  } %>
            <div>
                <p>Add New Employee: </p>
            </div>
            <form action="/data" method="POST" class="pt-3">
                <div class="form-group">
                    <input type="username" class="form-control" placeholder="username" name="employee_name">
                    <small class="form-text text-muted text-left">Register Username</small>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="job_title" placeholder="Job Title">
                </div>
                <div class="form-group">
                    <input class="date" name="date_working" placeholder="Date Working">
                </div>
                
                <button type="submit" name="acceptEmployee" value="addEmployee" class="btn btn-success rounded-pill">Accept</button>
            </form>

          </tbody>
        </table>


</body>
            </div>
        </div>
        </div>
</html>