<!DOCTYPE html>
<html>

<head>
	
</head>

<body>
<ul>
   <script> <% testing.forEach(function() { %>
        <li>
            <%= testing %>
      
        </li>
        <%});%>
        </script>
</ul>
</body>

</html>