<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/root.css">
                
                
<head>
	
</head>

<body>
  
    <table class="table">
        <thead>
          <tr>
           <th>Employee </th> 
           <th>Job Title</th>
          </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < user.length; i++) { %>
            
                <tr>
                    <td><%= user[i].user %></td>
                    <td><%= user[i].job_title %> </td>
            
                </tr>
            <%  } %>
        </tbody>
    </table>
            
            <div>
                <p>Add New Employee: </p>
            </div>
            <form action="/data" method="POST" class="pt-3">
                <div class="form-group">
                    <input type="username" class="form-control" placeholder="username" name="employee_name">
                    <small class="form-text text-muted text-left">Register Username</small>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="job_title" placeholder="Job Title">
                </div>
                <div class="form-group">
                    <input class="text" name="date_working" placeholder="Date Started">
                </div>
                
                <button type="submit" name="acceptEmployee" value="addEmployee" class="btn btn-success rounded-pill">Accept</button>
            </form>
<div>
   <p> Remove Employee: </p>
</div>
<form action="/data" method="POST" class="pt-3">
    <div class="form-group">
        <input type="username" class="form-control" placeholder="remove_user" name="employee name">
        <small class="form-text text-muted text-left">Username</small>
        <button type="submit" name="rejectEmployee" value="subEmployee" class="btn btn-success rounded-pill">Remove</button>
    </div>


</body>
            </div>
        </div>
        </div>
</html>