<!DOCTYPE html>
<html>

<head>
	
</head>

<body>
<ul>
   <script> 
        <li>
            <script>
             const dataArr = <%- "<a href='#'>user</a>" %>;
      </script>
        </li>
        
        </script>
</ul>
</body>

</html>