<!DOCTYPE html>
<html>

<head>
	
</head>

<body>
<ul>
   <script> <% testData.forEach(function(user, password) { %>
        <li>
            <%= user.users %>
            <%= password.password %>
        </li>
        <%});%>
        </script>
</ul>
</body>

</html>