<!DOCTYPE html>
<html>

<head>
	
</head>

<body>
<ul>
   <script> 
        <li>
            <script>
             const dataArr = <%- user %>;
      </script>
        </li>
        
        </script>
</ul>
</body>

</html>