<!DOCTYPE html>
<html>

<head>
	
</head>

<body>
<ul>
   <script> <% %>
        <li>
            <script>
            <%= document.write (user) %>
      </script>
        </li>
        <%%>
        </script>
</ul>
</body>

</html>