<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/root.css">


	
</head>

<body>
	
	<script>
	$.ajax({
		url:"/index",
		method: "POST",
		data : $(form1).serialize(),
		cache : false,
		success : function (data) {
			// data is the object that you send form the server by 
			// res.jsonp();
			// here data = {success : true}
			// validate it
			if(data['success']){
				alert("Uhh...Nice?");
			}
		},
		error : function () {
			// some error handling part
			alert("Oops! Something went wrong.");
		}
	});
	</script>

	<div class="col-md-4 col-md-offset-4 form-card">
		<div>
			<p>Register Now
			</p>
		</div>
		<div class="form-group">
			<form action="", id="form1", method="POST">
				<input type="text" name="email" placeholder="E-mail" required=""
				pattern="[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~](\.?[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~])*@[ก-๙a-zA-Z0-9](-*\.?[ก-๙a-zA-Z0-9])*\.[ก-๙a-zA-Z](-?[ก-๙a-zA-Z0-9])+$" class="form-control"><br />
				<input type="text" name="username" placeholder="Username" required="" class="form-control"><br />
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br />
				<input type="password" name="passwordConf" placeholder="Confirm Password" required=""
					class="form-control"><br />
				<button type="submit" value="Register" class="btn btn-success" onclick= " <script>alert (" messages: message ")</script> " > Register </button>
			</form>
		</div>


		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div>
			<span>Already Registered? <a href="/">Login</a></span>
		</div>
		<div id="LangTable"><a href="/" id="aa"></a>
		</div>
	</div>

</body>

</html>