<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/root.css">
                
<head>
                
<head>
	
</head>

<body>
<% const currDate = date; %>
  <div className="app">
    <h1 className="header">React Calendar</h1>
    <div className="calendar-container">
      <Calendar onChange={setDate} value={date} />
    </div>
    <div className="text-center">
       Selected date:  {<%currDate.toDateString()%>} 
    </div>
  </div>

  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

  <!-- Load our React component. -->
  <script src="calendar.js"></script>
</body>
        
</html>