<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" 
      content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
        <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/css/bootstrap-timepicker.min.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/js/bootstrap-timepicker.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
    </head>
    <body> 
      
      <form action="/shiftmaker" method="POST" class="pt-3">
      <select id="dataReturn" name="chosen">

        
        <% for(var i=0; i < data.length; i++) { %>
          <%if(data[i] === data.length){%>
          <% i++ }%>
          <option value="<%= data[i].user %>"><%= data[i].user %></option>
  <% } %>
        </select>
        <div id="datepicker" class="input-group bootstrap-datepicker" data-date-format="DD">
       <input class="form-control" 
              type="text" name="datetimes">
       <span class="input-group-addon">
           <i class="icon-time"></i>
       </span>
   </div>
</div> 
<% for(var i=0; i < week.length; i++) { %>
<script>
  
      $("#datepicker").datepicker({startDate: '0m',
    endDate: '+1w'
      })
</script>
<% } %>
      <div class="input-group bootstrap-timepicker timepicker">
        <input id="timepicker1" type="text" name="time1" class="form-control input-small">
        <span class="input-group-addon" id="timebutton1"> <i class="icon-time"></i></span>
        <input id="timepicker2" type="text" name="time2" class="form-control input-small">
          <span class="input-group-addon" id="timebutton2"> <i class="icon-time"></i></span>
       </div>

       <form action="/shiftmaker" method="POST" class="pt-3">
        <select id="JobList" name="jobList">
  
          
          <% for(var i=0; i < jobData.length; i++) { %>
            <%if(jobData[i] === jobData.length){%>
            <% i++ }%>

            <option value="<%= jobData[i].jobs %>"><%= jobData[i].jobs %></option>
            <% } %>
        </select>
    <script type="text/javascript">
 $('#timepicker1').timepicker({
  format: 'HH:mm',
  clearButton: true
});
 $("#timebutton1").addClass("btn btn-success");
 $('#timepicker2').timepicker({
  clearButton: true});
 $("#timebutton2").addClass("btn btn-success");


    </script>

    <button type="submit" class="btn btn-success rounded-pill">Submit</button>
    </form>
    </body>
</html>