<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/root.css">
                
    <head>
	
    </head>
    
    <body>
        <table class="table">
            <thead>
              <tr>
                <th>Shifts: </th>
        
              </tr>
            </thead>
            <tbody>
               
              
              
                <% for (var i = 0; i < info.length; i++) { %>
                <% const check = info[i].date
                    <tr>
                        <td>Employee: <%= check %>  </td>
                        

                        <td> <br>Job Assigned:  <%- info[i].jobs %> </td>
                     
                    
                    </tr>
                    <%  } %>
    
                </table>
                </tbody>

                <div><a href="/data">Create new Employee</a>
                </div>
                <div><a href="/newWeek">Create new Shift</a>
                </div>
                <div><a href="/createAssignments">Create New Assignments</a>
                </div>
                <div><a href="/daysAssignment">Associate Assignment to Shift</a>
                </div>
                <div><a href="/shiftmaker">Associate Employee to Shift</a>
                </div>
                </body>