<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/root.css">
                
    <head>
	
    </head>
    
    <body>
        <table class="table">
            <thead>
              <tr>
                <th>Shifts: </th>
        
              </tr>
            </thead>
            <tbody>
               
              
              
                <% for (var i = 0; i < info.length; i++) { %>
                
                    <tr>
                        <td>Employee: <%= info[i].date %> <br> </td>

                        <td> Job Assigned:  <%- info[i].jobs %> </td>
                     
                    
                    </tr>
                    <%  } %>
    
                </table>