
<!DOCTYPE html>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<html>
    <head>
    </head>
    
    <body>



        <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/css/bootstrap-timepicker.min.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/js/bootstrap-timepicker.min.js"></script>
        
        
        <div class="input-group bootstrap-timepicker timepicker">
          <input id="timepicker1" type="text" class="form-control input-small" onkeydown=”return false;”/>
          <input id="timepicker2" type="text" class="form-control input-small">
          <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>

        
        <script type="text/javascript">
        $(document).ready(function() {
$('#timepicker1').timepicker();
});
        
    
          $('#timepicker2').timepicker({
            showInputs: false
          });

          $(document).ready(function() {
$('#timepicker1').keydown(function(){
return false;});
});
$('#department').change(function(){
if($(this).val() == 1)
time = '9:30 AM';		
else if($(this).val() == 2)
time = '10:30 AM';
else
time = '8:30 AM'; 			
$('#timepicker1').val(time);			// set #timepicker textbox value
$('#timepicker1').timepicker('setTime', time);     // set widget time according to department change
		});

    $('#enable').click(function(e){
e.preventDefault();
$('#timepicker1').prop("readonly", false);
$('#department').removeAttr("readonly");			
$('#timepicker1').parents('.timepicker').click(function (){          
/* click event for time symbol button of textbox to set time and show timepicker widget.  */
if (! $('#timepicker1').is('[readonly]') ){
$('#timepicker1').parents('.timepicker').timepicker('setTime', $('#timepicker1').val());
$('#timepicker1').parents('.timepicker').timepicker('showWidget');
}
});
    })
</script>
 
</body>
</html>
          

