<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	

<table class="table">
    <thead>
      <tr>
       
        <th><% for (var i = 0; i < week.length; i++) { if (week[i].DaysAssigned == null) {%> </th>
        <td><%= week[i].DaysAssigned %> </td>
                    
         <th> <%  } else if (week[i].DaysAssigned != null){i-1}  %>  </th>
          <td><%= week[i].DaysAssigned } %> </td>
    
       
    
      </tr>
      
    </thead>
    <tbody> 
       <tr><td><% for (var i = 0; i < week.length; i++) { %> </td>
        
        <td><form action="/shiftassignment" method="POST" class="pt-3">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Assignments" name="assignments">
              <select class="selectpicker" data-style="btn-info" name="min_title">
                <optgroup label="Choose the minimum title needed for the assignment">
                  <option name="" value="0">Select minimum title</option>
                  <option name="headChef" value="headChef">Chef de Cuisine</option>
                  <option name="sousChef" value="sousChef">Sous Chef</option>
                  <option name="lineCook" value="lineCook">Chef de Partie</option>
                  <option name="busser" value="busser">Busser</option>
                </optgroup>
            </select>
          </div>
          <input type = "hidden" name = "weekcheck" value = "<%= week[i].DaysAssigned %>" > <% week[i] %> </input>
          <div class="form-group">
              <select class="selectpicker" data-style="btn-info" name="amntEmployees">
                  <optgroup label="Amount of Workers">
                      <option name="" value="0">Select Amount</option>
                      <option name="1" value="1">1</option>
                      <option name="2" value="2">2</option>
                      <option name="3" value="3">3</option>
                  </optgroup>
              </select>
          </div>
      <% } %>
        </td>
      </tr>

        </table>
        <button type="submit" value="Accept" class="btn btn-success"> Accept </button>
        <div>
          <div><span>Create the Shift? </span><a href="/shiftmaker">Click Here</a>
          </div>
</html>
      </form>