
<!DOCTYPE html>
<html>
    <head>
	
    </head>
    
    <body>
<link href="/cap-capstone/node_modules/tui-time-picker/dist/tui-time-picker.css" rel="stylesheet">

<script src="/cap-capstone/node_modules/tui-time-picker/dist/tui-time-picker.js"></script>

<script>

var tpSelectbox = new tui.TimePicker('#timepicker-selectbox', {
    inputType: 'selectbox' // default
    // more options here
});

var tpSpinbox = new tui.TimePicker('#timepicker-spinbox', {
    inputType: 'spinbox',
    // more options here
});
</script>
 
</body>
</html>
          

