<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	

<table class="table">
    <thead>
      <tr>
       
        <th><% for(var i=0; i < week.length; i++) { %>
          <%if(week[i] === week.length){%>
          <% i++ }%></th>
       
    
      </tr>
    </thead>
    <tbody>
       
           

        </table>
        
</html>
      </form>