* {
    box-sizing: border-box;
    font-family: Lato;
    font-size: 16px;
}
body {
    background-color: #9597b8;
}
.login {
    width: 500px;
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #E4A46D;
    font-size: 150px;
    padding: 20px 0 20px 0;
    font-family: handScript;  
    margin: -50px auto;
    text-shadow: 0 0 10px rgba(33, 34, 34, 0.5);
}
.login h2 {
  text-align: center;
  color: #D6D6D6; 
  font-size: 16px; 
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    background-color: #404150;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 410px;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: rgba(35, 34, 34, 0.3);
    border-color: rgb(34, 34, 34, 0.1);
    color: #D6D6D6;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 5px;
    background-color: #404150;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #6491C5;
    transition: background-color 0.2s;
    text-decoration: underline;
}
.login form input[type="submit"]:hover {
    transition: background-color 0.2s;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(231, 228, 228);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}